<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jianzhi.glitter">
    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:name=".MyApp"
        android:icon="@mipmap/square_studio"
        android:label="T-sport"
        android:roundIcon="@mipmap/square_studio"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:ignore="UnusedAttribute">
        <activity android:name="com.jianzhi.glitter.GlitterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>